.profilePage {
  width: 100%;
  max-width: 550px;
}

.tabs {
  border-right: 1.5px solid var(--lightGrey);
  border-left: 1.5px solid var(--lightGrey);
  border-bottom: 1.5px solid var(--lightGrey);;
  padding-left: 8px;
}