:root {
  --darkBlue: #3137C9;
  --lightBlue: #107EFF;
  --lightDark: #17202A;
  --dark: #0D0D0D;
  --primaryBlue: #1da1f2;
  --darkWhite: #fcfafa;
  --lightGrey: #E6EBF2;
  --grey: #525050;
  --amarath: #e83b50;
  --success: #4dae00;
  --warning: #feb258;
  --normalGray: #8899A6;
  --backgroundGray: #f5f5f5;
  --borderGray: #eae5e5;
}